@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@400;700&family=Montserrat:wght@400;600;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.WaBikeColors {
    --primary: #00BB9C;
    --secundary: #FFFFFF;
    --marker: #F52D56;
}

/* SplashScreen Animation */
@keyframes loading {
    from {
        max-width: 0;
    }
}

.LogoText:before {
    content: attr(data-content);
    font-weight: bold;
    position: absolute;
    overflow: hidden;
    max-width: 4em;
    color: #00BB9C;
    animation: loading 10s linear;
}

.fa-user {
    color: lightgray;
}


.leaflet-container {
    width: 100%;
    height: 100vh;
}

.leaflet-routing-container leaflet-bar leaflet-routing-container-hide leaflet-control{
    display: none;
}